// Helper class built to be reused ----------------

.container {
    margin: 5.5rem 1.625rem 0 1.625rem;

    @media screen and (min-width: $breakpoints-desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 10.625rem 16rem 0 16rem;
        max-width: 1440px;
    }
}

.bright-orange {
    background-color: $bright-orange;

    .card-content > a {
        color: $bright-orange;
    }
}

.dark-cyan {
    background-color: $dark-cyan;

    .card-content > a {
        color: $dark-cyan;
    }
}

.very-dark-cyan {
    background-color: $very-dark-cyan;

    .card-content > a {
        color: $very-dark-cyan;
    }
}

.br {

    &-top-lr {
        border-radius: 10px 10px 0 0;

        @media screen and (min-width: $breakpoints-desktop) {
            border-radius: 10px 0 0 10px;
        }
    }

    &-bottom-lr {
        border-radius: 0 0 10px 10px;

        @media screen and (min-width: $breakpoints-desktop) {
            border-radius: 0 10px 10px 0;
        }
    }
}

.btn {
    border-radius: 25px;
    background: white;
    padding: 0.967rem 2.2rem;
    position: absolute;
    bottom: 2.813rem;

    &:hover, &:focus {
        color: $very-light-gray !important;
        background-color: transparent;
        border: 3px solid white;
    }
}